.header {
    width: 100%;
    height: 60px;
    max-height: 100px;
    background-color: white;
    box-shadow: 0 1px 4px 1px grey;
    z-index: 1;
    position: relative;
}

.headerInner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.sidebar {
    width: 100%;
}

.logo img {
    width: 40px;

}

.login img {
    width: 25px;
}