.nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #414A4C;
}
.nav a.active {
    color: #CDC5C2;
}