.posts {
    width: 100%;
    min-height: 100px;
    background-color: white;
    border-radius: 10px;
    margin: 5px 0;
    padding: 15px;
    position: relative;
}

.itemUser {
    display: flex;
    align-items: center;
}

.itemUser img {
    width: 40px;
    border-radius: 100%;
    margin-right: 10px;
}

.itemPost {
    padding: 10px 5px 25px;
}

.itemLike {
    position: absolute;
    right: 50px;
    bottom: 10px;
    display: flex;
    align-items: flex-end;
    font-size: 18px;
}

.itemLike img {
    width: 25px;
    margin-left: 10px;
}